
  .button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 33%;
  }
#title1{
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(202, 192, 192);
}

#title2{
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(202, 192, 192);
  }


  #redir{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  #accueil {
    width: 200px;
    height: 30px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
   
  }

