body {
  background-image: url("bg.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
}

#title1 {
  text-align: center;
  font-size: 3rem;
  color: #333;
  margin-top: 3rem;
}

.title2 {
  font-size: 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.redir {
  display: flex;
  justify-content: center;
}

#global {
  width: 100%;
  overflow: auto;
}



#picture {
  width: 25%;
}
#change {
  width: 25%;
}


#result {
  width: 50%;
  text-align: center;
  margin-top: 2em;
  border: solid 3px #334;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}




.button {
  padding: 1.2rem 2.5rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
  width: 260.22px;
}

.whitetext {
  color : #fff;
}


.accueil {
  padding: 1.2rem 2.5rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #555;
}

.accueil:hover {
  background-color: #555;
}

#souff {
  display: block;
  margin: 2rem auto;
  margin-top: 5%;
  width: 40%;
  height: auto;
  border: inset 7px darkgrey;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#choix {
  width: 240px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
}

input.logsstyle {
  color: #fff;
  background-color: #333;
  height: 50px;
  width: 120px;
}

.input.logsstyle:hover {
  background-color: #555;
}

select.logsstyle {
  height: 50px;
  width: 120px;
}


textarea{
  position: absolute;
  resize : none;
  width : 80%;
  height : 67%;
  left: 10%;
}

.bouton .button{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}


.redir button {
  margin-right: 10px; 
}

input.accueil{
  display: flex;
    margin-left: auto;
    margin-right: auto;
}

/*/ PAGE PHOTO /*/
div.scroll {
  background-color: #333;
  width: 70%;
  height: 615px;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
  display: grid; 
  grid-template-columns: repeat(2, 1fr [col-start]); 
  
}

.resultimg2 img{
  width: 50%; 
  height: 80%;
}
div.resultimg2{
text-align: center;
color: white;
margin-top: 7%;
}

.modal{
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
.contenu{
  margin: auto;
  width: 50%;
  height: 50%;
}
#textarea2{
    top: 40%;
    position: absolute;
    resize: none;
    width: 80%;
    height: 255px;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    left: 10%;
}

@media only screen and (max-width: 767px) {

#container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
#picture, #change, #result {
    width: 100%;
    margin-bottom: 1em;
  }
.bouton .button{
    margin-top: 10%;
  }
div.resultimg2 {
    text-align: center;
    color: white;
    padding-bottom: 25%;
  }
.resultimg2 img {
    width: 70%;
    height: 80%;
}
div.scroll {
    width: 90%;
    height: 350px;
  }
 #souff{
  width: 75%;
 }
 html{
  height: 667px;
 }
 nav.redir{
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
 }
 a{
  margin-bottom: 3%;
 }
 textarea{
  height: 37%;
 }
 footer {
  width: 94%;
 }
}
